body {
  margin: 0;
  padding: 0;
  transform: scale(0.8);
  transform-origin: -100%, 50%;
  background-color: #4e5857;
  background-image: linear-gradient(90deg, #e2e2e2ea 0%, #6b6d6b 100%);
}

.allDiv {
  border: 1px solid black;
  padding-bottom: 2rem;
  margin: auto;
  max-width: 950px;
}

form {
  width: 70%;
  max-width: 822px;
  padding: 1rem;
  margin: auto;
}
form input {
  margin: auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  height: 3rem;
  font-size: 24px;
  font-weight: 500;
  border: none;
}

form input[type="submit"] {
  color: rgb(36, 31, 41);
  font-size: 30px;
  height: 4rem;
  cursor: pointer;
  padding: 1px;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 175, 88);
  width: 60%;
  transition: 0.3s;
}

form input[type="submit"]:hover {
  color: rgb(108, 175, 88);
  background-color: rgb(255, 255, 255);
}

.slct {
  text-align: center;
  border: none;
}
.slct label {
  color: rgb(102, 96, 96);
  font-size: 26px;
  font-weight: 600;
  margin-right: 0.5rem;
}

.slct select {
  width: 30%;
  height: 4rem;
  font-size: 26px;
  color: rgb(134, 134, 134);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.note {
  text-align: center;
}

.note p {
  color: rgb(66, 65, 65);
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(121, 168, 50, 0.397);
  padding-top: 6px;
  padding-bottom: 6px;
}

.lnk {
  margin-top: 3rem;
  text-align: center;
}

.lnk a {
  text-decoration: none;
  font-size: 30px;
}
